@import "~bootstrap-icons/font/bootstrap-icons.css";
#signup{
  margin-left: 5px;
}

 .profile-img-card {
      width: 96px;
      height: 96px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
}
#lb{
  font-size: 20px;
}
