<app-index></app-index>
<div class="container col-md-4 card"
    style="margin-top: 10px; height: 380px; margin-left: 30%; background-color:#f7f7f7">
    <div class="row">
        <h5 class="card-title" style="text-align: center; background-color:rgb(35, 64, 196); height: 50px;">Login</h5>
    </div>

    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />

    <form *ngIf="!isLoggedIn" name="form">

        <div class="input-group form-group mt-3">
            <div class="bg-secondary rounded-start">
                <span class="m-3"><i class="bi bi-person-fill mt-2"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="form.username" name="username" placeholder="Username">
        </div>

        <div class="input-group form-group mt-3">
            <div class="bg-secondary rounded-start">
                <span class="m-3"><i class="bi bi-key mt-2"></i></span>
            </div>
            <input type="password" class="form-control" [(ngModel)]="form.password" placeholder="Password"
                name="password">
        </div>

        <div class="row" style="margin-top: 63px;">
        
                <button class="btn  btn-primary" type="submit" (click)="doLogin()">
                    <i class="bi bi-arrow-right-square"></i>
                    Se Connecter</button>
           
        </div>



    </form>
</div>
